<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <div class="cadastro-container">
      <div class="cadastro-card">
        <form class="cadastro-form" action="#" method="post">
          <div class="form-row">
            <label for="username">Usuário</label>
            <input id="username" name="username" type="text" placeholder="" />
          </div>

          <div class="form-row">
            <label for="email">E-mail</label>
            <input id="email" name="email" type="email" placeholder="" />
          </div>

          <div class="form-row">
            <label for="password">Senha</label>
            <input
              id="password"
              name="password"
              type="password"
              placeholder=""
            />
          </div>

          <div class="form-row">
            <label for="confirm">Confirmar Senha</label>
            <input
              id="confirm"
              name="confirmPassword"
              type="password"
              placeholder=""
            />
          </div>

          <button class="btn-primary" type="submit">CADASTRAR</button>
        </form>
      </div>
    </div>
  </body>
</html>
